.popupAddUser .MuiPaper-root {
    /* background: lightcoral; */
    width: 720px;
    /* height: 444px; */
    /* padding: 40px 60px 40px 60px; */
    /* gap: 60px; */
    /* border: 1px 0px 0px 0px; */
    /* max-width: 3000px !important; */
    /* background-color: lightcoral; */
    max-width: 10600px !important;
    /* margin: 0 !important; */
}

.popupAddUser .container {
    margin: 0 !important;
    width: 100%;
    width: Fixed (720px)px;
    height: Hug (444px)px;
    padding: 40px 60px 40px 60px;
    gap: 60px;
    border: 1px 0px 0px 0px;
    color: 1px solid #000000;
}

.popupAddUser h2 {
    /* font-family: Karla; */
    /* font-size: 24px; */
    /* font-weight: 500; */
    /* line-height: 32px; */
    /* letter-spacing: 6px; */
    /* text-align: left; */
}

.popupAddUser .row {
    display: flex;
    gap: 40px;
}

.row.second {
    margin-top: 35px;
}

.row .MuiInputBase-root {
    height: 48px;
    padding: 8px 12px 8px 24px;
    gap: 12px;
    /* border: 1px 0px 0px 0px; */
    border: 1px solid #E3E8EE;
    color: #5E626B;
}

/* .company_info  */
.row input {
    height: 20px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20002500712871552px;
    text-align: left;
    color: #5E626B;
}

.buttons {
    height: 48px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.buttons button { 
    width: 100px; 
    /* height: 48px; */
    /* padding: 14px 112px 14px 112px; */
    /* border: 1px solid #C4C4C4; */
    /* font-family: Rubik; */
    /* font-size: 14px; */
    /* font-weight: 300; */
    /* line-height: 20px; */
    /* letter-spacing: 0.20002500712871552px; */
    /* text-align: left; */
    /* color: #000000; */
     text-transform: none !important;
}

.buttons button.Cancel {
    width: 100px;
}

.buttons button.Add {
    width: 150px;
}